# Apply to all files without commiting:
#   pre-commit run --all-files
# Update this file:
#   pre-commit autoupdate
repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.6.0
      hooks:
        -   id: fix-byte-order-marker
        -   id: check-case-conflict
        -   id: check-executables-have-shebangs
        -   id: detect-private-key
  -   repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.4.5
      hooks:
        -   id: ruff
            args: [--fix]
        -   id: ruff-format
  -   repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
        -   id: detect-secrets
            args: ['--baseline', '.secrets.baseline']
            exclude: package.lock.json
